<template name="about">
	<section class="valign-wrapper full-page">
		<h2 class="center-align">Mbanza Music</h2>
     
       <div class=container>

<p>
Mbanza is the moniker of Boulder Colorado producer, songwriter, and multi-instrumentalist Eric SugarSnap Pea. Back in 2011, Eric had full connection with a West African instrument called Kamale N'Goni, and began learning traditional rhythms and studying with teacher Craig Meyers. 
</p>

<p>
Mbanza performs with a Live Band, and also Live DJ set with modern & acoustic West African instruments, mixed in with hiphop/electronic/dub/dance beats produced in Ableton.
</p>
       </div>


	</section>
</template>
